@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
:root{
  --primary-font : 'Andada Pro', sans-serif;
}

html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
 
}



